allow platform_app config_gz:file r_file_perms;

# Allow bypassing the FUSE layer
r_dir_file(platform_app, mnt_pass_through_file)

# Allow externalstorage access
allow platform_app mnt_pass_through_file:dir { create_dir_perms mounton };
